@charset "UTF-8";
@import url("reset.css");

/* @import url("responsive.css"); */

@import url("themify-icons.css");

/*============================================================================================
==============================================================================================

CONTENTS :
    *   1. General
        2. Home
        3. Hpd
            3.1. Top Section
            3.2. Navigation
            3.3. Principles
            3.4. Sectors
            3.5. Footer





==============================================================================================
=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

#main-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            2. Home
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-container {
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#main-container .logo-container {
    margin-top: 12%;
    text-align: center;
}

#main-container .logo-container .logo {
    max-width: 325px;
}

#main-container .hpd-container {
    margin-top: 18%;
}

#main-container .hpd-container .hpd-img {
    max-width: 260px;
}

#main-container .cds-container {
    margin-top: 18%;
}

#main-container .cds-container .cds-img {
    max-width: 260px;
}

#main-container .footer-container {
    position: relative;
    top: 250px;
    text-align: center
}

#main-container .footer-container .footer-img {
    max-width: 325px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3. Hpd
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-hpdContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3.1. Top Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.top {
    background-image: url("../images/bg-hpd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 140vh;
}

.topText {
    /* vertical-align: middle;
    display: table-cell;
    height: calc(100vh - 320px); */
    padding-right: 60px;
    margin-top: 150px;
}

.topText h1 {
    font-size: 28px;
    color: rgba(88, 77, 77, 0.45);
}

.topText p {
    color: rgba(88, 77, 77, 0.45);
    font-size: 18px;
    text-align: center;
    line-height: 26px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3.2. Navigation
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.navigation {
    background-color: #101010;
    opacity: .7;
}

.mainlogo {
    margin: 18px 0;
    height: 50px;
    width: 200px
}

.mainnav li {
    display: inline-block;
}

.mainnav li a {
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 22px 10px 0 10px;
    font-weight: 800;
    display: block;
    padding: 20px 0 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.8s ease;
}

.mainnav li a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.icon-bar {
    background-color: #fff !important;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3.3. Principles
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#principles {}

#principles .principles-heading {
    text-align: center;
    font-size: 24px;
    color: #a49797;
    font-weight: 600;
    margin-bottom: 40px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3.4. Sectors
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#sectors {
    background-color: #82a082
}

#sectors .sectors-heading {
    font-size: 20px;
    text-align: center;
    padding: 30px 0px;
    color: wheat;
    font-weight: 800;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3.5. Footer
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#footer {
    background-color: #31363a;
    padding: 50px 0px;
}

#footer .footer-logo {
    width: 200px;
    margin: 0 auto;
}

#footer2 {
    background-color: #a8acaf;
    padding: 30px 0px;
}

#footer2 .footer2-para {
    font-size: 18px;
    color: white;
    font-weight: 600;
}