@charset "UTF-8";
@import url("reset.css");

/* @import url("responsive.css"); */

@import url("themify-icons.css");

/*============================================================================================
==============================================================================================

CONTENTS :
    *   1. General
        2. Home
        3. Navigation
        4. Footer
        5. Hpd
            5.1. Hpd Top
            5.2. Principles
            5.3. Sectors
        6. Leap
            6.1. Leap Top   
            6.2. Leap Overview
            6.3. Leap Objective 
            6.4. Leap Main Elements
        7.  Tlp
            7.1.  Tlp Top  
            7.2.  Tlp Overview
            7.3.  Tlp Features
        8.  Contact Us
            8.1.  Contact Top  
            8.2.  Contact Info
            8.3.  Contact Map  
        9.  Ldi
            9.1.  Ldi Top    


==============================================================================================
=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

#main-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            2. Home
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-container {
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#main-container .logo-container {
    margin-top: 12%;
    text-align: center;
}

#main-container .logo-container .logo {
    max-width: 325px;
}

#main-container .hpd-container {
    margin-top: 18%;
}

#main-container .hpd-container .hpd-img {
    max-width: 260px;
}

#main-container .cds-container {
    margin-top: 18%;
}

#main-container .cds-container .cds-img {
    max-width: 260px;
}

#main-container .footer-container {
    position: relative;
    top: 250px;
    text-align: center
}

#main-container .footer-container .footer-img {
    max-width: 325px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3. Navigation
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.navigation {
    background-color: #101010;
    opacity: .7;
}

.mainlogo {
    margin: 18px 0;
    height: 50px;
    width: 200px
}

#hpdList li {
    width: 100%;
}

#hpdList li a {
    color: black;
    text-align: center;
    margin: 4px;
    padding: 10px;
}

#schoolList li {
    width: 100%;
}

#schoolList li a {
    color: black;
    text-align: center;
    margin: 4px;
    padding: 10px;
}

.mainnav li {
    display: inline-block;
}

.mainnav li a {
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 22px 10px 0 10px;
    font-weight: 800;
    display: block;
    padding: 20px 0 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.8s ease;
}

.mainnav li a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.icon-bar {
    background-color: #fff !important;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            4. Footer
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#footer {
    background-color: #31363a;
    padding: 50px 0px;
}

#footer .footer-logo {
    width: 200px;
    margin: 0 auto;
}

#footer2 {
    background-color: #a8acaf;
    padding: 30px 0px;
}

#footer2 .footer2-para {
    font-size: 18px;
    color: white;
    font-weight: 600;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5. Hpd
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-hpdContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5.1. Hpd Top 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#hpdTop {
    background-image: url("../images/bg-hpd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 140vh;
}

.topText {
    /* vertical-align: middle;
    display: table-cell;
    height: calc(100vh - 320px); */
    padding-right: 60px;
    margin-top: 150px;
}

.topText h1 {
    font-size: 28px;
    color: rgba(88, 77, 77, 0.45);
}

.topText p {
    color: rgba(88, 77, 77, 0.45);
    font-size: 18px;
    text-align: center;
    line-height: 26px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5.2. Principles
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#principles {}

#principles .principles-heading {
    text-align: center;
    font-size: 24px;
    color: #a49797;
    font-weight: 600;
    margin-bottom: 40px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5.3. Sectors
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#sectors {
    background-color: #82a082
}

#sectors .sectors-heading {
    font-size: 20px;
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-weight: 800;
}

#sectors1 {}

#sectors1 .sector1-common {
    padding-bottom: 10px;
    color: #a29898;
    font-size: 22px;
}

#sectors1 .sector1-left {
    text-align: left;
    padding-left: 20px;
}

#sectors1 .sector1-right {
    text-align: right;
    padding-right: 20px;
}

#sectors1 .sectors-list .rbulb-img {
    position: absolute;
    margin-top: -11px;
    margin-left: -30px;
}

#sectors1 .sectors-list .lbulb-img {
    position: absolute;
    margin-top: 40px;
}

#sectors1 .sectors-list .sector1 {
    margin: 20px 0px;
    border-bottom: 2px solid #a29898;
}

#sectors1 .sectors-list .sector2 {
    margin: 20px 0px;
    border-bottom: 1px solid #a29898;
}

#sectors1 .sectors-list #sector2 {
    margin-left: -26px;
}

#sectors1 .sectors-list .sector3 {
    margin: 20px 0px 20px 40px;
    border-bottom: 1px solid #a29898;
}

#sectors1 .sectors-list .sector4 {
    margin: 20px 40px 20px 0px;
    border-bottom: 2px solid #a29898;
}

#sectors1 .sectors-list #sector4 {
    margin-left: -68px;
}

#sectors1 .sectors-list .sector5 {
    margin: 20px 0px 20px 80px;
    border-bottom: 2px solid #a29898;
}

#sectors1 .sectors-list .sector6 {
    margin: 20px 80px 20px 0px;
    border-bottom: 1px solid #a29898;
}

#sectors1 .sectors-list #sector6 {
    margin-left: -106px;
}

#sectors1 .sectors-list .sector7 {
    margin: 20px 0px 20px 120px;
    border-bottom: 1px solid #a29898;
}

#sectors1 .sectors-list .sector8 {
    margin: 20px 120px 20px 0px;
    border-bottom: 2px solid #a29898;
}

#sectors1 .sectors-list #sector8 {
    margin-left: -146px;
}

#sectors1 .sectors-list .sector9 {
    margin: 20px 0px 20px 160px;
    border-bottom: 2px solid #a29898;
}

#sectors1 .sectors-list .sector10 {
    margin: 20px 0px 20px 50px;
    border-bottom: 2px solid #a29898;
    width: 40%;
}

#sectors1 .sectors-list .sector10 h3 {
    text-align: center;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6. Leap
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-leapContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.1. Leap Top 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#leapTop {
    background-image: url("../images/LEAP-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
}

#leapTop .leapTopHeading h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-top: 42%;
    text-align: center;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.2. Leap Overview  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#overview {
    margin-top: 20px;
}

#overview .overview-mainHeading {
    font-size: 34px;
    color: #aba59a;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#overview .overview-subHeading {
    font-size: 24px;
    color: #aba59a;
    margin-top: 50px;
    letter-spacing: .7px;
}

#overview .overview-para {
    font-size: 14px;
    line-height: 22px;
    color: #aba59a;
    letter-spacing: .6px;
    margin: 10px 0px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.3. Leap Objective  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#objective {}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.4. Leap Main Elements 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-elements {
    margin: 25px 0px 6px 0px;
}

#main-elements .elements-content {
    margin: 10px 0px 0px 50px;
}

#main-elements .elements-content-heading {
    font-size: 34px;
    letter-spacing: .8px;
    margin-bottom: 12px;
    color: #aba59a;
}

#main-elements .elements-content-list {
    padding: 28px;
}

#main-elements .elements-content-list li {
    font-size: 24px;
    color: #aba59a;
    margin-bottom: 8px;
    letter-spacing: .6px;
}

#main-elements .elements-content-subHeading {
    color: #aba59a;
    font-size: 22px;
    padding: 0px 0px 10px 5px;
}

#main-elements .elements-content-dowloadHeading {
    text-align: center;
    font-size: 20px;
    color: #aba59a;
    margin-top: 10px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7. Tlp
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-tlpContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7.1. Tlp Top 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#tlpTop {
    background-image: url("../images/TLP-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
}

#tlpTop .tlpTopHeading h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-top: 42%;
    text-align: center;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7.2. TLP Overview  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#tlpOverview {
    margin-top: 20px;
}

#tlpOverview .tlpOverview-heading {
    margin-bottom: 40px;
}

#tlpOverview .tlpOverview-heading .mainHeading {
    font-size: 34px;
    color: #aba59a;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#tlpOverview .tlpOverview-para {
    margin-top: 110px;
}

#tlpOverview .tlpOverview-para p {
    font-size: 16px;
    line-height: 25px;
    color: #aba59a;
    letter-spacing: .6px;
    margin: 10px 0px;
}

#tlpOverview .tlpOverview-mainTheme {
    margin-top: 60px;
}

#tlpOverview .tlpOverview-mainTheme .subHeading {
    color: #aba59a;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#tlpOverview .tlpOverview-mainTheme .mainTheme-list {
    list-style: none;
    padding: 25px 50px 0px 75px;
}

#tlpOverview .tlpOverview-mainTheme .mainTheme-list li {
    color: #aba59a;
    padding-bottom: 6px;
    letter-spacing: .6px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7.3. Tlp Features
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#tlpFeatures {
    margin: 25px 0px 6px 0px;
}

#tlpFeatures .features-content {
    margin: 10px 0px 0px 50px;
}

#tlpFeatures .features-content .content-heading {
    font-size: 34px;
    letter-spacing: .8px;
    margin-bottom: 12px;
    color: #aba59a;
}

#tlpFeatures .features-content .content-list {
    padding: 20px 0px 20px 2px;
}

#tlpFeatures .features-content .content-list li {
    font-size: 20px;
    color: #aba59a;
    margin-bottom: 8px;
    letter-spacing: .6px;
    list-style: none;
}

#tlpFeatures .features-content .content-subHeading {
    color: #aba59a;
    font-size: 22px;
    padding: 0px 0px 10px 5px;
}

#tlpFeatures .features-content .content-dowload {
    text-align: center;
    font-size: 20px;
    color: #aba59a;
    margin-top: 10px;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7. Contact Us
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-contactContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7.1. Contact Top 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#contactTop {
    background-image: url("../images/contact-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 140vh;
}

#contactTop .contactTopHeading {
    margin-top: 150px;
    /* margin-left: 50px; */
    padding: 20px;
}

#contactTop .contactTopHeading h1 {
    font-size: 48px;
    color: rgba(88, 77, 77, 0.45);
}

#contactTop .contactTopHeading span {
    font-size: 28px;
    color: rgba(88, 77, 77, 0.45);
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            8.2. Contact Info 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#contactInfo {
    margin-bottom: 30px;
}

#contactInfo .mainHeading {
    font-size: 34px;
    color: #aba59a;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#contactInfo .contact-detail {
    margin-top: 40px;
}

#contactInfo .contact-detail .info {
    text-align: center;
}

#contactInfo .contact-detail .info .email {
    margin-bottom: 20px;
}

#contactInfo .contact-detail .info .email .heading {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 45px;
}

#contactInfo .contact-detail .info .email .value {
    letter-spacing: .6px;
}

#contactInfo .contact-detail .info .address {
    margin-bottom: 20px;
}

#contactInfo .contact-detail .info .address .heading {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 45px;
}

#contactInfo .contact-detail .info .address .value {
    line-height: 24px;
    letter-spacing: .6px;
}

#contactInfo .contact-detail .info .phone {}

#contactInfo .contact-detail .info .phone .heading {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 45px;
}

#contactInfo .contact-detail .info .phone .value {
    line-height: 24px;
    letter-spacing: .6px;
}

#contactInfo .contact-detail .contact-form {}

#contactInfo .contact-detail .contact-form label {
    font-weight: 600
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            8.3. Contact Map 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#map {
    height: 400px;
    width: 100%;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6. Ldi
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#main-ldiContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            9.1. Ldi Top 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#ldiTop {
    background-image: url("../images/bg-ldi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}

#ldiTop .leapTopHeading h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-top: 42%;
    text-align: center;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.2. Ldi Overview  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

#ldi-overview {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-image: url("../images/hwh.png"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* height: 120vh; */
}

#ldi-overview .mainHeading {
    font-size: 34px;
    color: #aba59a;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#ldi-overview .subHeading {
    font-size: 24px;
    color: #aba59a;
    margin-top: 50px;
    letter-spacing: .7px;
}

#ldi-overview .overview-para {
    font-size: 14px;
    line-height: 22px;
    color: #aba59a;
    letter-spacing: .6px;
    margin: 10px 0px;
}

#ldi-overview .ldi-list {
    margin-top: 20px;
}

#ldi-overview .ldi-list img{
    width: 50px;
}

#ldi-overview .ldi-list .ldi-list-para{
    font-size: 18px;
    line-height: 20px;
    color: #aba59a;
    letter-spacing: .6px;
    margin: 24px 0px 0px 0px;
}