@charset "UTF-8";
@import url("reset.css");
@import url("responsive.css");
@import url("themify-icons.css");

/*============================================================================================
==============================================================================================

CONTENTS :
    *   1. General




==============================================================================================
=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

#main-container-scroller {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}